<% for (let iCount = 0; iCount < songs.length; iCount++) { %>
    <tr>
        <td><%= songs[iCount].song_title %></td>
        <td><%= songs[iCount].artist %></td>
        <td><%= songs[iCount].genre %></td>
    </tr>
<% } %>