body {
    background-color: #212529FF;
}

.pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logInContainer {
    margin-top: 150px;
    width: 350px;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.logInFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logInForm {
    width: 100%;
    padding-bottom: 20px;
}

.logInInput {
    width: 100%;
}

.logInButton {
    width: 100%;
    margin-top: 20px;
    background-color: #1ABC9CFF;
    border-radius: 10px;
    border: none;
    padding: 7px;
}