<!-- HTML5 document type declaration -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the character set to UTF-8 -->
    <meta charset="UTF-8">
    <!-- Set the title of the document -->
    <title>My Profile</title>
    <!-- Link to external CSS stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/editProfile.css">
    <script src="/pages/editProfile.js"></script>
</head>

<body>
    <!-- Container for the page content -->
    <div class="body-container">

        <!-- Content container with the form for editing profile -->
        <div class="content-container">
            <!-- Form for editing profile information -->
            <form name="editProfile" action="/editProfile" method="post">
                <!-- Display any messages (if available) -->
                <%= message %><br>
                <!-- Input field for user's first name -->
                <h1>Edit Profile</h1>
                <br>
                <label for="user_first_name">First Name</label>
                <input type="text" id="user_first_name" name="user_first_name" class="required, signUpInput" maxlength="30" onkeyup="validateFirstName()" value="<%- user.first_name %>"> 
                <br>
                <br>
                <!-- Display validation message for first name -->
                <span id="firstNameMessage"></span>
                <!-- Input field for user's last name -->
                <label for="user_last_name">Last Name</label>
                <input type="text" id="user_last_name" name="user_last_name" class="required, signUpInput" maxlength="30" onkeyup="validateLastName()" value="<%- user.last_name %>"> 
                <br><br>
                <!-- Display validation message for last name -->
                <span id="lastNameMessage"></span>
                <!-- Display the username (read-only) -->
                <label for="username">Username</label>
                <%- user.username %> <br>
                <br>
                <!-- Submit button for submitting profile changes -->
                <input type="submit" id="editProfileButton" value="Submit Changes" class="editButton">
            </form><br>
            <!-- Go back button to view profile -->
            <a href="/profile">Go Back</a>

            <td>
                <button onclick="deleteUser()" class="deleteButton">Delete</button>
            </td>

        </div>
    </div>
</body>

</html>
