<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <!--  <script src="signup.js"></script> --->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/login.css" rel="stylesheet" />
</head>
<body>

<!--Login boxes-->
    <div class="pageContainer">
        <div class="logInContainer">
            <h2>Log In</h2>
            <br>
            <div class="logInFormContainer">
                <div id="loginError" style="color: red;"><%= message %></div>
                <form action="#" method="post" class="logInForm" onsubmit="submitForm()">
                    <label for="username">Username</label> <br>
                    <input type="text" id="username" name="username" class="required, logInInput" maxlength="30"> <br>
                    <span id="userNameMessage"></span>
                    <label for="password">Password</label> <br>
                    <input type="password" id="password" name="password" class="required, logInInput" maxlength="30"> <br>
                    <span id="pwMessage"></span>
                    <input type="submit" id="login" value="Log In" class="logInButton">
                </form>
            </div>
            <div>Don't have an account? <a href="/signup">Sign up</a> </div>
        </div>
    </div>




</body>
</html>