<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="./pages/playlist.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/playlist.css">
</head>
<body>
<div class="body-container">

    <%- navbar %>

    <div class="playlistContainer">
        <h1 id="Playlist_name"></h1>
        <div id="playlistImgContainer">
            <%- playlistImage %>
        </div>
        <br>
    </div>
    <div class="playlistTableContainer">
        <table id="playlistTable" class="playlistTable">
            <thead>
            <tr class="playlistTableHeaders">
                <th class="resultsHeaders">Song Title</th>
                <th class="resultsHeaders">Artist</th>
                <th class="resultsHeaders">Genre</th>
            </tr>
            </thead>
            <tbody id="playlistTableBody" class="resultsContent">
            <% include('../modules/songTable.ejs') %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>