<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="playlist.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/playlist.css">
</head>
<body>
<div class="body-container">
<!--    <div class="nav-container">-->
<!--        <div class="nav">-->
<!--            <a href="home.html">Home</a>-->
<!--            <a href="search.html">Search</a>-->
<!--            <a href="playlist.html">Playlist</a>-->
<!--            <a href="login.html">Login</a>-->
<!--            <a href="signup.html">Sign Up</a>-->
<!--        </div>-->
<!--        <div class="search-container">-->
<!--            <input type="text" id="search" placeholder="Search">-->
<!--            <button onclick="search()">Search</button>-->
<!--        </div>-->
<!--    </div>-->

    <div class="playlistContainer">
        <h1 id="Playlist_name"></h1>
        <div id="playlistImgContainer">
            <img id="playlistImg" src="" alt="Playlist Image">
        </div>
        <br>
    </div>
    <div class="playlistTableContainer">
        <table id="playlistTableHeaders" class="playlistTableHeaders">
            <!-- Table headers -->
        </table>
        <div class="playlistTableContentWrapper">
            <table id="playlistTable" class="playlistTable">
                <!-- Table content -->
            </table>
        </div>
    </div>
</div>
</body>
</html>